.windowbg {
    -fx-font-family: 'IBM Plex Sans', sans-serif;
    -fx-text-fill: #e3e3e3;
    -fx-background-color: #2F3136;
}


#gridpaneDialogue {
    -fx-column-halignment: CENTER;
}

#statusMessageDialogue {
    -fx-font-size: 12px;
}

.textfield {
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-prompt-text-fill: #25252582;
}

.importantField {
    -fx-text-fill: #e31c1f;
    -fx-font-size: 20px;
    -fx-background-color: #36393F;
}

.checkboxes {
    -fx-text-fill: #e3e3e3;
}

.buttons:hover {
    -fx-background-color: #34373C;
    -fx-font-weight: bold;
}

.statusLabelClass {
    -fx-font-size: 20px;
    -fx-background-color: #36393F;
    -fx-text-fill: #e3e3e3;
}

.buttons {
    -fx-font-size: 18px;
    -fx-text-fill: #e3e3e3;
    -fx-background-color: #36393F;
}

.confirmButton {
    -fx-font-size: 18px;
    -fx-text-fill: #58e347;
    -fx-background-color: #36393F;
}

.confirmButton:hover {
    -fx-background-color: #34373C;
    -fx-font-weight: bold;
}

.cancelButton {
    -fx-font-size: 18px;
    -fx-text-fill: #e31c1f;
    -fx-background-color: #36393F;
}

.cancelButton:hover {
    -fx-background-color: #34373C;
    -fx-font-weight: bold;
}